
seminar 1/seminar 1/seminar 1.csproj
seminar 1/seminar 1/obj/seminar 1.csproj.nuget.g.targets
seminar 1/seminar 1/obj/Debug/netcoreapp3.1/seminar 1.csprojAssemblyReference.cache
seminar 1/seminar 1/obj/seminar 1.csproj.nuget.g.props
seminar 1/seminar 1/obj/seminar 1.csproj.nuget.dgspec.json
seminar 1/seminar 1/obj/seminar 1.csproj.nuget.cache
seminar 1/seminar 1/obj/project.assets.json
seminar 1/seminar 1/obj/Debug/netcoreapp3.1/seminar 1.assets.cache
seminar 1/seminar 1/obj/Debug/netcoreapp3.1/seminar 1.AssemblyInfoInputs.cache
seminar 1/seminar 1/obj/Debug/netcoreapp3.1/seminar 1.AssemblyInfo.cs
seminar 1/.vs/seminar 1/v16/.suo
seminar 1/.vs/seminar 1/v16/Server/sqlite3/db.lock
seminar 1/.vs/seminar 1/v16/Server/sqlite3/storage.ide
seminar 1/.vs/seminar 1/v16/Server/sqlite3/storage.ide-shm
seminar 1/.vs/seminar 1/v16/Server/sqlite3/storage.ide-wal
seminar 1/seminar 1/bin/Debug/netcoreapp3.1/seminar 1.deps.json
seminar 1/seminar 1/bin/Debug/netcoreapp3.1/seminar 1.dll
seminar 1/seminar 1/bin/Debug/netcoreapp3.1/seminar 1.exe
seminar 1/seminar 1/bin/Debug/netcoreapp3.1/seminar 1.pdb
seminar 1/seminar 1/bin/Debug/netcoreapp3.1/seminar 1.runtimeconfig.dev.json
seminar 1/seminar 1/bin/Debug/netcoreapp3.1/seminar 1.runtimeconfig.json
seminar 1/seminar 1/obj/Debug/netcoreapp3.1/seminar 1.csproj.FileListAbsolute.txt
seminar 1/seminar 1/obj/Debug/netcoreapp3.1/seminar 1.dll
seminar 1/seminar 1/obj/Debug/netcoreapp3.1/seminar 1.exe
seminar 1/seminar 1/obj/Debug/netcoreapp3.1/seminar 1.pdb
